{% extends '_base.html' %}

{% block title %}Notes Homepage {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
	{% for notes in all_notes %}
	<li>
		<a href ="{% url 'noteslist' notes.pk %}">{{ notes.title }}</a>
		<p>{{ notes.body }}</p>
	</li>
	{% empty %}
	<li>No Notes</li><br>
	{% endfor %}
{% endif %}

<form action = '{% url "search" %}' method = 'get'>
	<input class = 'btn btn-success ml-2' input = 'q' type = 'text' placeholder = 'Search..'>
</form>


<div>
	<a href="{% url 'notesnew' %}">+Create New Notes</a>
</div>

{% endblock content %}

