{% extends '_base.html' %}

{% block title %}Notes Homepage {% endblock title %}

{% block content %}

{% if user.is_authenticated %}

<div class = 'd-flex justify-content-end mb-3 '>
	<form action = '{% url "search_results" %}' method = 'get'>
		<input  name= 'q' type = 'text' placeholder = 'Search..'>
	</form>
</div>

	{% for notes in all_notes %}
	<li>
		<a href ="{% url 'noteslist' notes.pk %}">{{ notes.title }}</a>
		<p>{{ notes.body }}</p>
	</li>
	{% empty %}
	<li>No Notes</li><br>
	{% endfor %}

<div>
	<a href="{% url 'notesnew' %}">+Create New Notes</a>
</div>

{% endif %}

{% endblock content %}

