{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<title>
			{% block head %} Student Hub {% endblock head %}
		</title>
		<link rel = 'stylesheet' href ='{% static 'css/base.css' %}'>
		<script src = "{% static 'js/base.js' %}"></script>
	</head>
	<body>
		<div class = "home">
			<h2><a href ="{% url 'home' %}">STUDENT-HUB</a></h2>
		</div>
		<div class = "notesbro">
			<p><a href = "{% url 'noteshome' %}">Notes</a></p>
		</div>
		{% block content %}
		{% endblock content %}

	</body>
</html>

